@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
}

ul {
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #7D40E7;
  padding: 30px;
  font-size: 14px;
  color: #333;
}

@keyframes appear-card {
  0%{
    opacity: 0;
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }

}
#content { 
  background-color: #fff;
  max-width: 550px;
  border-radius: 4px;
  margin: 0 auto;
  padding: 20px;
  animation: appear-card 500ms backwards;
}

header {
  margin-bottom: 25px;
}

header strong {
  display: block;
  margin-bottom: 5px;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header div input {
  color: #999;
  border: 1px solid #DDD;
  padding: 12px 15px;
  border-radius: 4px;
  height: 36px;
  flex: 1;
  margin-right: 10px;
}

header div button {
  background: #7D40E7;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  height: 36px;
  padding: 0 10px;
  cursor: pointer;
  transition: opacity 300ms;
}

header div button:hover{
  opacity: 0.7;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-50%);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}

ul {
  border-top: 1px solid #ddd;
  padding-top: 25px;
  overflow: hidden;
}

li {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  animation: appear 300ms ease-out backwards;
}

li img{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-right: 10px;
  background: #ddd;
}

li div {
  display: flex;
  flex-direction: column;
}

li div p{
  color: #999;
  margin-bottom: 7px;
}

li div span {
  color: #999;
}